{% extends 'base.html' %}

{% load static %}

{% block content %}

<br>
<div class="container">
    {% include 'messages.html' %}
</div>


<main class="register container">
    <h1 class="text-center mt-5 mb-5">
        Register
    </h1>
    <div class="row">
        <form class="col-6 offset-md-3" method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="form-group">
                <input name="firstname" type="text" class="form-control" placeholder="firstname" required>
            </div>
            <div class="form-group">
                <input name="lastname" type="text" class="form-control" placeholder="lastname" required>
            </div>
            <div class="form-group">
                <input name="username" type="text" class="form-control" placeholder="username" required>
            </div>
            <div class="form-group">
                <input name="email" type="email" class="form-control" placeholder="email address" required>
            </div>
            <div class="form-group">
                <input name="mobile_number" type="text" class="form-control" placeholder="mobile number" required>
            </div>
            <div class="form-group">
                <input name="pincode" type="text" class="form-control" placeholder="pincode" required>
            </div>
            <div class="form-group">
                <input name="city" type="text" class="form-control" placeholder="city" required>
            </div>
            <div class="form-group">
                <input name="address" type="text" class="form-control" placeholder="address" required>
            </div>
            <div class="form-group">
                <input name="password" type="password" class="form-control" placeholder="Password" required>
            </div>
            <div class="form-group">
                <input name="confirm_password" type="password" class="form-control" placeholder="Confirm Password" required>
            </div>

            <button type="submit" class="btn btn-accent form-btn w-100 mt-3 mb-3">Signup</button>
        </form>
    </div>
</main>

{% endblock %}